.objectStyles {
  background-color: var(--object-background-color);
  border: 1px solid var(--gray-border-color);
  border-radius: var(--border-radius-lg);
}

.bodyWrapper {
  padding: 0 var(--container-padding);
  padding-top: var(--space-size-5);
}

.stickyGridItem {
  position: sticky;
  top: 74px;
  align-self: start;
}

.main {
  min-height: 180vh;
}

.profileAsideBackgroundImage {
  height: 56.25px;
  background-image: url("https://media.licdn.com/dms/image/C5616AQHdxdRi__C0Lw/profile-displaybackgroundimage-shrink_200_800/0/1648152929926?e=1683158400&v=beta&t=JO-ynvrQpStQHmkYCjtMKS_3Z6IsAgPZEKP-OzfY3cs");
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.profileAside {
  text-align: center;
}

.profileAside img {
  margin-top: -38px;
  background-color: white;
  height: 72px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: var(--space-size-5);
}

.profileAside span {
  font-size: var(--space-size-4);
  font-weight: var(--font-weight-bold);
  display: block;
}

.profileAside p {
  font-size: var(--space-size-3);
  color: var(--light-dark-2);
}

.network {
  border-top: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
  padding: var(--space-size-3);
}

.connections {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connections span {
  color: var(--main-color-blue);
  font-size: var(--space-size-3);
}

.network p {
  font-size: var(--space-size-3);
  font-weight: var(--font-weight-bold);
  margin: 0;
  text-align: start;
}

.premium {
  text-align: start;
  padding: var(--space-size-3);
  color: var(--color-main);
  text-decoration: none;
  display: block;
}

.premium p {
  margin: 0;
  font-size: var(--space-size-3);
}

.free {
  font-weight: bold;
  text-decoration: underline;
}

.myItems {
  text-align: initial;
  padding: var(--space-size-3);
  border-top: 1px solid var(--gray-border-color);
  border-bottom-right-radius: var(--border-radius-md);
  border-bottom-left-radius: var(--border-radius-md);
}

.asideRight h2 {
  font-size: var(--space-size-4);
  line-height: 1.5;
  text-align: start;
  padding: var(--space-size-3);
  margin: 0;
}

.asideRight ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.asideRight li {
  margin-bottom: var(--space-size-2);
}

.asideRight a {
  display: block;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  font-size: 14px;
}

.bulletContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: var(--space-size-4);
  margin-top: var(--space-size-1);
  color: black;
}

.bullet {
  border-radius: 50%;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: transparent;
  border: 3px solid var(--color-light-dark-2);
  margin: 0 12px 2px 14px;
  padding: 0px;
  outline: 0;
  font-size: 1.4rem;
  box-sizing: border-box;
}

.sideInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 32px;
  margin: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  text-align: start;
}

.advertisement {
  text-align: center;
  margin-top: var(--space-size-2);
}

.advertisement p {
  font-size: var(--space-size-3);
}

.advertisementProfile {
  width: 70px;
  vertical-align: top;
  display: table-cell;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-right: var(--space-size-4);
  outline: 0;
}

.advertisementHeading {
  margin: var(--space-size-3);
  text-align: end;
}

.advertisementLink {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

.advertisementCompany {
  border: 3px solid transparent;
  display: block;
  padding: 0;
  margin: 0;
  max-width: 70px;
  max-height: 70px;
  margin: 0 auto;
  outline: 0;
}

.advertisementConclusion p {
  font-size: var(--space-size-4);
  margin-bottom: 0;
}

.advertisementConclusion span {
  font-weight: var(--font-weight-bold);
  display: block;
}

.advertisementConclusion button {
  margin: var(--space-size-3) 0;
  padding: 0 var(--space-size-4);
  border: 1px solid var(--main-color-blue);
  line-height: calc(32px - 1px * 2);
  border-radius: 16px;
  background-color: transparent;
  color: var(--main-color-blue);
  font-size: var(--space-size-4);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}
.advertisementConclusion button:hover {
  background-color: rgba(112, 181, 249, 0.15);
  box-shadow: inset 0 0 0 1px var(--main-color-blue);
}

.imagesSectionAdvertisement {
  width: min-content;
  margin: 0 auto;
  display: flex;
}

.discoverSection {
  margin-top: var(--space-size-2);
}

.discoverTag {
  text-align: start;
  padding: var(--space-size-1) 0;
}

.discoverTag a {
  text-decoration: none;
  color: var(--main-color-blue);
  font-size: var(--space-size-3);
  font-weight: var(--font-weight-bold);
}

.discoverTag a:hover {
  text-decoration: revert;
}

.discoverTag button {
  font-size: var(--space-size-4);
  border: none;
  background-color: transparent;
  color: var(--color-light-dark-2);
  cursor: pointer;
  margin-left: auto;
}

.plus {
  display: flex;
  align-items: center;
}

.discoverMore {
  border-top: 1px solid var(--gray-border-color);
  text-align: center;
}

.discoverMore a {
  display: block;
  border-bottom-left-radius: var(--border-radius-lg);
  border-bottom-right-radius: var(--border-radius-lg);
  text-decoration: none;
  color: var(--color-light-dark-2);
  padding: var(--space-size-3) 0;
}

.discoverMore a:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.container {
  padding: var(--space-size-3);
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: var(--space-size-4) var(--space-size-5);
}

.footer ul li {
  font-size: 12px;
  color: var(--color-light-dark-2);
  display: flex;
  margin: var(--space-size-1) var(--space-size-2);
}

.stopScroll {
  overflow: hidden;
  position: absolute;
}
