.listItem {
  height: 100%;
  /* box-sizing: border-box; */
}

.navLink {
  font-size: var(--space-size-3);
  color: var(--color-light-dark-2);
  cursor: pointer;
  text-decoration: none;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 82px;
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-light-dark-2);
}

.activeLink {
  color: var(--color-main);
  border-bottom: 2px solid black;
  color: rgba(0, 0, 0);
}

.navLink:hover {
  color: var(--color-main);
}
