.postParagraph span,
.postParagraph a {
  color: rgb(46, 100, 188);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  cursor: pointer;
}

.postParagraph {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-4);
}
