.header {
  box-sizing: border-box;
  padding: 0 var(--container-padding);
  border-bottom: 1px solid var(--gray-border-color);
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--space-size-2);
}

.searchArea {
  position: relative;
}

.searchArea img {
  position: absolute;
  top: 8px;
  left: 14px;
}

.search {
  font-size: 14px;
  background-color: var(--search-background-color);
  border: none;
  border-radius: var(--border-radius-sm);
  height: 34px;
  width: 280px;
  padding-left: 40px;
}

.nav {
  height: 100%;
}

.navList {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.profilePicture {
  border-right: 1px solid var(--gray-border-color);
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button img {
  border-radius: 50%;
  height: var(--space-size-5);
}

.profileModal {
  position: relative;
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation: mymove 330ms linear;
}

@keyframes mymove {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.open {
  display: initial;
}

.hide {
  overflow-y: hidden;
}
