.header {
  padding: 0 var(--spacer-5);
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 10;
  border-bottom: 1px solid var(--gray-border-color);
  height: 50px;
  background-color: white;
}

.headerContent {
  width: 1128px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

@media screen and (max-width: 1176px) {
  .headerContent {
    width: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacer-2);
}

.searchArea {
  position: relative;
}

.searchArea img {
  position: absolute;
  top: 8px;
  left: 14px;
}

.searchText {
  display: none;
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .searchArea {
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .searchArea input {
    display: none;
  }

  .searchArea img {
    width: 24px;
    height: 24px;
    position: initial;
  }

  .searchText {
    display: initial;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    margin-left: auto;
  }
}

.search {
  font-size: 14px;
  background-color: var(--search-background-color);
  border: none;
  border-radius: var(--border-radius-sm);
  height: 34px;
  width: 280px;
  padding-left: 40px;
}

.nav {
  height: 100%;
}

.navList {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.profilePicture {
  border-right: 1px solid var(--gray-border-color);
}

.button {
  flex-wrap: wrap;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: var(--color-light-dark-2);
  text-align: center;
  justify-content: center;
  min-width: 80px;
  height: 100%;
}

.button img {
  border-radius: 50%;
  height: var(--spacer-5);
  width: var(--spacer-5);
  display: block;
  margin-bottom: 2px;
}

.profileModal {
  position: relative;
}

.overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation: mymove 330ms linear;
}

@keyframes mymove {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.open {
  display: initial;
}

.linkLabel {
  display: none;
}

@media screen and (min-width: 854px) {
  .linkLabel {
    display: initial;
  }
}

@media screen and (max-width: 854px) {
  .button {
    min-width: 48px;
  }
}

@media screen and (max-width: 445px) {
  .button {
    width: 32px;
  }

  .button img {
    height: 18px;
    width: 18px;
  }
}
